h1{
    position: relative;
 

font-family: 'Playfair Display';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 60px;
padding-left: 3%;
/* identical to box height */


color: #000000;
}
@media only screen and (max-width: 600px) {
    h1{
      font-size: 2rem;
    }
  }
.bg-tviko{
    background-image: url('../../assets/tviko-left.jpg');
    background-repeat: no-repeat;
    background-position: bottom 20px left 0px;
}

#goto {
    background-color:#D9A575;
    color: black;
    text-decoration: none;
    width: auto;
    padding: 15px;
    margin-top: 15px;
    text-align: center;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 1.2rem; 
/* identical to box height */

letter-spacing: 0.05em; 
transition: 0.3s;
}
#goto:hover{
    background-color: transparent;
    border: solid 1px #D9A575; 
}
@media only screen and (max-width: 600px) {
    h1{
      font-size: 2rem;
    }
    #goto{
        font-size: 1rem ;
    }
  }