<div class="container-fluid">

    <div class="row mx-auto">
        <svg width="1047" height="89" viewBox="0 0 1047 89" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_340_135)">
            <mask id="mask0_340_135" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="30" y="36" width="987" height="13">
            <path d="M30.4641 48.9333V36.1648L1016.03 36.1648V48.9333L30.4641 48.9333Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_340_135)">
            <path d="M1016.03 48.9332L29.3281 48.9332V36.6279L1016.03 36.6279V48.9332Z" fill="#CD8B53"/>
            </g>
            <mask id="mask1_340_135" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-1" y="19" width="63" height="47">
            <path d="M-0.283691 65.1387L-0.283691 19.6252L61.2248 19.6252V65.1387H-0.283691Z" fill="white"/>
            </mask>
            <g mask="url(#mask1_340_135)">
            <mask id="mask2_340_135" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-1" y="19" width="63" height="47">
            <path d="M-0.283691 42.381L30.4693 19.6252L61.2248 42.381L30.4693 65.1387L-0.283691 42.381Z" fill="white"/>
            </mask>
            <g mask="url(#mask2_340_135)">
            <path d="M-0.283691 65.1387L-0.283691 19.6252L61.2248 19.6252V65.1387H-0.283691Z" fill="#CD8B53"/>
            </g>
            </g>
            <mask id="mask3_340_135" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="985" y="19" width="62" height="47">
            <path d="M985.278 65.1387V19.6252L1046.79 19.6252V65.1387H985.278Z" fill="white"/>
            </mask>
            <g mask="url(#mask3_340_135)">
            <mask id="mask4_340_135" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="985" y="19" width="62" height="47">
            <path d="M985.278 42.381L1016.03 19.6252L1046.79 42.381L1016.03 65.1387L985.278 42.381Z" fill="white"/>
            </mask>
            <g mask="url(#mask4_340_135)">
            <path d="M985.278 65.1387V19.6252L1046.79 19.6252V65.1387H985.278Z" fill="#CD8B53"/>
            </g>
            </g>
            </g>
            <defs>
            <clipPath id="clip0_340_135">
            <rect width="89" height="1047" fill="white" transform="matrix(0 -1 1 0 0 89)"/>
            </clipPath>
            </defs>
            </svg>
            
    </div>

</div>