.text{


position: relative;
margin: auto;
 
}

img, svg{
    margin: auto;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .text {
       margin-top: 15%;
    }
  }